

* {
    margin: 0;
    box-sizing: border-box;
}
p{
    font-size: 13px;
}
header{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #fff;
}
header img{
    height: 30px;
    opacity: 0.8;
}
body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}
.section{
    padding: 40px 15vw;

}
.menu_abs{
    display: none;
    z-index: 500;
    position: absolute;

    left: 0;
    top: 0;
    bottom: 0;
    background-color: #0d0d0dea;
    color: #fff;
}
.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8vw;
    gap: 12px;
    & a{
        text-decoration: none;
        color: #fff;
    }
    & a:hover{
        color: #a5a3a3;
    }
}
.crest{
    text-align: right;
    padding: 30px 15px;
}
.crest img{
    height: 20px;
    background-color: #fff;
}
.btn{
    text-transform: uppercase;
    margin: 20px 0 0 0;
    border: none;
    background-color: #0042EB;
    color: #fff;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 5dvh;

        font-size: 11px;

}

/*/////////////////////////////////////////////////////////////////////////SECTION INTRO*/
.section__intro{
    background: url("../images/HOME/intro_back.jpg") center no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;align-items: center;
}
.content__intro{
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10vh;
}
.content__intro h1{
    font-size: 55px;
    margin-bottom: 20px;
}
.block_intro{
    background-color: #fff;
    padding: 40px 25px;
    border-radius: 5dvh;
    box-shadow: 6px 7px 8px #a5a3a3c4;
    & h1{
        padding: 0;
        margin: 5px 0;
    }
    & h6{
        color: #797777;
        font-weight: 500;
    }
    & p{
        font-size: 17px;
        font-weight: 500;
        padding: 0;
    }
}

/*/////////////////////////////////////////////////////////////////////////SECTION EXPLORE*/
.section__explore{
    color: #fff;
    background-color: #0042EB;

    & h1{
        font-size: 35px;
        text-align: center;
        padding: 0 10vw;
    }
    & .btn{
        transition: .2s linear;
    }

}
.btns_block_explore{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn_exp_1{
    background-color: #fff;
    color: black;
}
.btn_exp_1:hover{
    background-color: #99ADF6;
    color: #fff;
}
.btn_exp_2{
    background-color: #99ADF6;
    color: #fff;
}
.btn_exp_2:hover{
    background-color: #fff;
    color: black;
}


/*/////////////////////////////////////////////////////////////////////////SECTION MED SOL*/
.section__med_sol{
    padding-bottom: 100px;
}
.text_med_sol{
    width: 50%;
    & h1{
        font-size: 34px;
        margin-bottom: 10px;
    }
    & hr{
        margin-top: 25px;
    }
}
.block_text_med_sol{
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 25px 0;
}


/*/////////////////////////////////////////////////////////////////////////SECTION HOW WORK*/
.section__how_work{
    background-color: #0042EB;
    color: #fff;
    text-align: center;
}
.block__margin_how_work{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -80px;
}
.margin_card{
    background-color: #fff;
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 3dvh;
    color: #000;
    transition: .2s linear;
    & h1{
        font-size: 45px;
    }
    & h6{
        color: #797777b0;
    }
}

.text_how_work{
    margin-top: 40px;
    & h1{
        font-size: 34px;
        margin: 10px 0;
    }
    & p{
        padding: 30px 20vw;
        padding-top: 0;
    }
}
.text_cards_how_work{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 100px;
    & h3{
        font-size: 16px;
    }
    & p{
        font-size: 12px;
        padding: 10px 0;
    }
    & img{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}


.content__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
    & h6{
        color: #797777;
    }
}